# This requirements file should only include dependencies for testing
pytest                                  # test framework
pytest-cov                              # coverage test
cached-property>=1.5.2; python_version < '3.8'
